<ion-header-bar class="bar-assertive">
    <h1 class="title">Lobby</h1>
</ion-header-bar>
<ion-content has-bouncing="true">
    <div id="tools">
        <label class="item item-input">
            <input type="text" ng-model="lobby.newRoom" name="newRoom" placeholder="Create a new room.">
            <button class="button button-bar-inline button-energized">Fire Up!</button>
        </label>
    </div>
    <div id="rooms">
        <ul>
            <li ng-repeat="room in lobby.rooms">
                <div ng-bind="room.roomname"></div>
                <div ng-bind="room.createdby"></div>
                <button class="button button-block button-dark" ng-click="lobby.join()">Join</button>
            </li>
        </ul>
    </div>
</ion-content>